.container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

.link {
    grid-column: 1;
    color: #1cb5ff;
    text-decoration: none;
    opacity: 0.8;
    width: fit-content;
}

.link:hover {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 400px) {
    .container {
        z-index: 99;
    }
}
