.container {
    padding: 1rem;
    margin: 1rem;
}

.container a {
    color: #19a0e3;
    text-decoration: none;
    opacity: 0.8;
}

.container a:hover {
    opacity: 1;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.body {
    font-size: 1.2rem;
}
@media (max-width: 420px) {
    .container {
        /*max-width: 420px;*/
        font-size: 1rem;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }
}
