.container {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.container a {
    color: #1cb5ff;
    text-decoration: none;
    opacity: 0.8;
}

.container a:hover {
    opacity: 1;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.body {
    font-size: 1.2rem;
}